<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="../style/style.css">
        <link rel="manifest" crossorigin="use-credentials" href="%PUBLIC_URL%/manifest.json" />        
        <title>My first extension</title>
    </head>
    <body>       

        <header>
            <img src="../Img/security.png" height="13px" width="13px">
            <b>Safe link</b>
        </header>
        <main class="principal">
            <form class="input-group">
                <input type="text" id="url" required class="input">
                <label for="url" class="input-label">URL para verificação</label>
                <button class="button">Verificar</button>
            </form>
    
            <div class="secundaria">
                <h3 class="text-center">-- OU --</h3>
            </div>
    
            <button id="verification" class="button">Verificar guia atual</button>
        </main>
        
        <div id="result"></div>
        
        <script src="../script/script.js"></script>
        
    </body>
</html>