<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="../style/style.css">
        <title>My first extension</title>
    </head>
    <body>
        <form>
            <input type="text" class="inputImgUrl" placeholder="Image URL">
            <button class="button">Go!</button>
        </form>
        
        <button id="verification" class="button">Verificar url</button>
        <div id="result"></div>
        

        <script src="../script/script.js"></script>
    </body>
</html>


