header {
    padding: 13px;
    background-color: #fff;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.secundaria {
    width: 100%;
}

.text-center {
    text-align: center;
}

.input-group{
    position: relative;
}

.input{
    padding: 13px;
    border: none;
    border-radius: 5px;
    font: inherit;
    color: #000;
    background-color: transparent;
    outline: 2px solid #000;
}

.input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
    font-size: 13px;
}

.input:focus+.input-label,
.input:valid+.input-label{
    transform: translate(0, -30px) scale(.8);
    color: #000;
}

.input:is(:focus, :valid){
    outline-color: #000;
}

.button{
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #428d70;
    color: white;
    font-weight: 700;
    cursor: pointer;
}